# Lunatone DALI USB udev rules
#
# Instructions:
# Copy this file to the udev rules
#    sudo cp 99-lunatone-dali.rules /etc/udev/rules.d/
# Reload the udev rules
#    sudo udevadm control --reload-rules
#
#
# By default, this file restricts the access to root and members of the `dialout`
# group via MODE="0660". You can grant access to specific user accounts by
# adding them to the `dialout` group.
# To grant yourself permission:
#
#    sudo usermod -a -G dialout `whoami`
#
# You will have to log out and then back in for the group change to take effect.
# To grant permission to a specific {user}:
#
#    sudo usermod -a -G dialout {user}
#
# replacing {user} with the actual username.
# If you really want everyone to have read/write access you can change MODE
# below to "0666". This is less secure.
#

# Lunatone DALI USB
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTRS{idVendor}=="17b5", ATTRS{idProduct}=="0020", MODE="0660", GROUP="dialout"
